{{ define "partials/header.html" }}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DART</title>
    <link href="./src/bootstrap-4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="./src/css/font-awesome.min.css" rel="stylesheet">
    <link href="./src/css/jquery-ui.css" rel="stylesheet">
    <link href="./src/css/dart.css" rel="stylesheet">
    <script src="./src/js/jquery-3.2.1.min.js"></script>
    <script src="./src/js/jquery-ui.min.js"></script>
    <script src="./src/js/popper.min.js"></script>
    <script src="./src/bootstrap-4.0.0/js/bootstrap.min.js"></script>
    <script src="./src/fontawesome-free-5.7.0-web/js/all.js"></script>
    <!-- script src="application.js"></script -->
</head>
<body>

  <div id="nav">
    {{ template "partials/nav.html" }}
  </div>

{{ end }}
