{{ define "partials/input_checkbox.html" }}


<div class="form-check {{ template "partials/classes.html" .field }} {{ .field.formGroupClass }}"
    {{ template "partials/attrs.html" .field }}
     {{ if .field.hide }}style="display:none;"{{ end }}>
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="{{ .field.name }}" value="{{ .field.value }}" {{ if .field.selected }}checked{{ end }} />
    {{ .field.label }}
  </label>
</div>

<small id="{{ .field.id }}Error" class="form-text text-danger">
    {{ .field.error }}
</small>

{{ end }}
