{{ define "app_setting/form.html" }}

<h2>Application Setting</h2>

<form method="post" action="#" id="{{ .ID }}">

  {{ template "partials/input_text.html" dict "field" .Form.Fields.Name }}


  {{ if .Form.Fields.Value.Choices }}
  {{ template "partials/input_select.html" dict "field" .Form.Fields.Value }}
  {{ else }}
  {{ template "partials/input_text.html" dict "field"  .Form.Fields.Value }}
  {{ end }}

  {{ template "partials/input_hidden.html" dict "field"  .Form.Fields.UserCanDelete }}

  {{ template "partials/input_hidden.html" dict "field" .Form.Fields.ID }}

  {{ template "partials/form_buttons.html" . }}
  
</form>

{{ end }}
