{{ define "app_setting/form.html" }}

<h2>Application Setting</h2>

<form method="post" action="#" id="{{ .ID }}">

  {{ template "partials/input_text.html" dict "field" .Fields.Name }}


  {{ if .Fields.Value.Choices }}
  {{ template "partials/input_select.html" dict "field" .Fields.Value }}
  {{ else }}
  {{ template "partials/input_text.html" dict "field"  .Fields.Value }}
  {{ end }}

  {{ template "partials/input_hidden.html" dict "field"  .Fields.UserCanDelete }}

  {{ template "partials/input_hidden.html" dict "field" .Fields.ID }}
  
</form>

{{ end }}
